.container-first-description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  position: relative;
  top: 40px;

  width: 100%;
  min-height: 224px;  

  padding: 10px;

  color: var(--white);
  background-color: var(--background-primary);
}

.container-first-description h2 {
  width: 66%;

  font-size: 13px;
}

.container-first-description p {
  width: 45%;
  
  font-size: 10px;
}

.image-first-div {
  width: 50%;
  height: 60%;

  position: absolute;

  top: 35%;
  left: 48%;
}

.container-first-description button {
  width: 120px;
  height: 40px;

  font-weight: 600;
}

.container-second-description {  
  display: flex;
  justify-content: flex-start;  

  width: 100%;
  height: 100vh;
  padding-top: 11px;
  padding-left: 15px;

  margin-top: 40px;

  background-size: contain;  
  background-repeat: no-repeat;
  background-image: url('./src/img/SecondDescriptionDiv/image-second-div.png');
}

.container-work-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  width: 70%;
  height: 37vh;
  padding: 10px;

  position: absolute;

  background-color: var(--white);

  border-radius: 10px;
}

.container-work-description small {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 8pt;
}

.work-informally-with-us::after {
  content: "";
  width: 250px;
  height: 1px;

  background-color: var(--light-gray);
}

.buttons-work {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.buttons-work img {
  width: 30px;
  height: 30px;
}

.buttons-work small {
  font-size: 8pt;
}

.work-with-us {
  display: flex;
  align-items: center;
  flex-direction: column;

  color: var(--pink);
}

.work-with-us::after {
  content: "";
  width: 95px;
  height: 1px;

  background-color: var(--pink);
}

.request-professionals {  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work-infos {
  padding: 5px 16px;
}

.work-infos h2{
  font-size: 12pt;
}

.work-infos p {
  font-size: 9pt;
}